:host {
    display: block;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(
      135deg,
      #f1cd8a 0%,
      #a07e4b 50%,
      #775e19 100%
    );
  }

  /* tabla-usuarios.component.css */
.tabla-usuarios {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #6e6e6e;
    color: white;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  
  a {
    color: #4CAF50;
    text-decoration: none;
  }
  


  /* Estilo para el botón de "Atrás" */
.atras {
  background: black;  /* Fondo negro sólido */
  border: 2px solid rgba(255, 255, 255, 0.3); /* Borde blanco suave */
  padding: 0.5rem 0.8rem;  /* Tamaño más pequeño */
  border-radius: 50%;  /* Forma circular */
  color: white;
  font-size: 1.5rem;  /* Flecha más pequeña */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease; /* Transición rápida */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
  font-weight: 700;  /* Flecha en negrita */
}

/* Hover: Efecto cuando se pasa el cursor */
.atras:hover {
  background: #333333;  /* Fondo gris oscuro al pasar el mouse */
  border-color: rgba(255, 255, 255, 0.6); /* Borde más visible */
  transform: scale(1.1);  /* Aumento ligero */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

/* Efecto al hacer clic */
.atras:active {
  transform: scale(1.05);  /* Efecto de presión más sutil */
}

/* Asegurarse de que el icono de la flecha se vea adecuado */
.atras .btn-text {
  font-size: 1.5rem;  /* Tamaño de la flecha reducido */
  display: inline-block;
}
  