/* Franja superior */
.header {
  background-color: #000;
  color: white;
  padding: 20px;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  font-family: 'Segoe UI', sans-serif;
}

/* Contenedor para centrar la tabla */
.table-container {
  margin: 40px auto;
  width: 90%;
  max-width: 1200px;
}

/* Estilo general de la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Cabecera */
thead {
  background-color: #222;
  color: white;
}

thead th {
  padding: 12px;
  font-size: 15px;
}

/* Celdas */
tbody td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

/* Filas alternas */
tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

/* Hover */
tbody tr:hover {
  background-color: #e8e8e8;
}

.form-container {
  margin: 50px auto;
  width: 90%;
  max-width: 600px;
  padding: 25px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
  font-family: 'Segoe UI', sans-serif;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #222;
}

.form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-row label {
  font-weight: 600;
  margin-bottom: 5px;
}

.form-row input {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 15px;
}

.btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.btn:hover {
  background: #333;
}


.form-row select {
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 15px;
  background-color: #fff;
  cursor: pointer;
}